body {margin: 0;
background-color: rgb(236, 236, 236);}

ul.topnav {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 102, 255);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: rgb(161, 199, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.salek) {background-color: rgb(0, 1, 77); }
ul.topnav li a.salek {
    font-size: 20px;
}
div  {
text-align: center ;
margin-top: 20px;
margin-left: 500px;
margin-right: 500px;
padding: 10px;
overflow: hidden;
    background-color: rgb(255, 255, 255);
}
h1.s11 {
    text-align: left;
    margin-right: 1100px;
    color: rgb(127, 219, 255);
    background-color: rgb(0, 102, 255);
}

h1.s22 {
    text-align: right;
    margin-left: 1200px;
    color: aquamarine;
    background-color: rgb(0, 102, 255);
}
div.s33{
    background-color: rgb(236, 236, 236);
}
div.h1{
    text-align: center;
    margin-left: 350px;
margin-right: 350px;
}
ul.topnav li.right {float: right;}

@media screen and (max-width: 200px) {
  ul.topnav li.right,
  div, 
 div.h1,
    h1.s11,
    h1.s22,
    div.s33,
  ul.topnav li {float: none;}
}
